[submodule "vscode"]
	path = vscode
	url = https://github.com/andrewscwei/vscode-config
[submodule "xcode"]
	path = xcode
	url = https://github.com/andrewscwei/xcode-config
[submodule "homebrew"]
	path = homebrew
	url = https://github.com/andrewscwei/homebrew-config
[submodule "android-studio"]
	path = android-studio
	url = https://github.com/andrewscwei/android-studio-config
